.main-container{
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
}

.orders__header h2{
    margin: 0px;
}

.main-container p,  .main-container h5, .main-container h3{
    margin: 0px;
}

.userid{
    font-weight: 600;
    margin-bottom: 0.83rem !important;
}

.items-container{
    overflow-x: scroll;
}

.items-container::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  .items-container::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  .items-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the background color of the scrollbar thumb */
  }

.item-info p{
    margin: 0px;
}

.item-image{
    width: 160px;
}

.item-image img{
    width: 100%;
    height: auto;
}

.status-box{
    padding: 12px 4px;
}

.status-box input{
    font-size: 16px;
    padding: 8px;
    border: 1px solid;
}

/* Filter Buttons */

.filter__buttons{
    padding: 2rem 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap:.5rem;
}

.filter__buttons button{
    padding: 12px 24px;
    min-width: max-content;
    font-family: 'Poppins';
}

.filter__buttons input{
    min-width: max-content;
    border: 1px solid black;
    font-family: 'Poppins';
}

.filter__buttons .active{
    border: none;
    background-color: var(--secondary-color);
    color: aliceblue;
}



/* Media queries for responsiveness */
@media (max-width: 768px) {
    .orders__container{
        padding-top: 1.8rem;
    }
    .filter__buttons{
        padding: 0%;
        flex-wrap: wrap;
    }
}