.app-container{
    display: flex;
    align-items: center;
}
.app__header{
    display: none !important;
    background-color: var(--secondary-color);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
    padding: 8px;
}
.main-content{
    width: calc(100vw - 280px);
}
#ham-menu{
    font-size: 1.8rem;
}
.user__name{
    display: flex;
    justify-content: center;
    color: #fff;
}
.user__name p{
    margin: 0px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .app-container{
        min-height: fit-content;
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .app__header{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    #ham-menu, .user__name p{        
        padding: 12px 18px;
    }
}

