.main-content form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}
.change__password{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    width: 50%;
}
.change_password__row{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.change_password__row label{
    white-space: nowrap;
}

.inputBox {
    display: flex;
    background-color: transparent;
    color: #000;
    height: 2rem;
    font-size: 1em;
    padding: 0px 12px;
  }

  .update__button{
    height: 2.6rem;
    font-size: 18px;
  }