

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.home__main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.orders__header{
    display: flex;
    flex-direction: column;
    color: #2f4858;
    font-family: 'Poppins';
}
.orders__header h2{
    font-size: 3rem;
}
.order__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.order__row h4{
    margin-block-start: 1em;
    margin: 0px;
    font-weight: 500;
}

.order__row h5{
    margin-block-start: 1em;
    margin: 0px;
    font-weight: 500;
}