:root{
  --primary-color: #ddada1;
  --secondary-color: #2f4858;
  --bs-third-color: #a5796d;
  --bs-fourth-color: rgb(208,202,190);
  --bs-hover-color: #0066CC;
  --bs-font-color: #241C24;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


#root{
position: relative;
  overflow-x: hidden;
  /* min-height: 100vh !important; */
  /* height: fit-content; */
  font-family: 'Poppins';
}

body{
  margin: 0px;
}

a{
text-decoration: none;
color: var(--bs-font-color);
}

.App{
  height: 100vh;
}